@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

form {
    width: 20%;
    margin: 16em auto 0;
    background-color: #eee;
    border-radius: 10px;
    display: grid;
    border-top: 4px solid #1B0C81;
    border-bottom: 4px solid #1B0C81;
    box-shadow: #00000080 0 0 6px 0px;
}

label {
    margin: .3em 1.8em .2em;
}

input {
    outline: none;
    grid-column: 1 / span 2;
    width: 80%;
    justify-self: center;
}

.messages {
    margin: 2% auto 0;
    width: 60%;
    height: 8%;
    background: #eee;
    border: 4px solid #269316;
    box-shadow: #00000080 0 0 6px 0px;
    border-radius: 15px;
}

.messages font, .messages a {
    color: #269316;
    display: flex;
    justify-content: center;
}

.errors {
    margin: 2% auto 0;
    width: 60%;
    height: 10%;
    background: #eee;
    border: 4px solid red;
    box-shadow: #00000080 0 0 6px 0px;
    border-radius: 15px;
    animation:errors 1.5s 1;
    -webkit-animation:errors 1.5s 1;
    animation-fill-mode: forwards;
    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    opacity: 1;
}

.errors font, .errors a {
    font-size: 1em;
    color: red;
    display: flex;
    justify-content: center;
}

@keyframes errors {
    0%   {-webkit-transform: translateY(0);}
    10%   {-webkit-transform: translateY(.5em);}
    20%  {-webkit-transform: translateY(1em);}
    90% {-webkit-transform: translateY(50em);}
    100% {opacity: 0;}
}

@-webkit-keyframes errors {
    0%   {-webkit-transform: translateY(0);}
    10%   {-webkit-transform: translateY(.5em);}
    20%  {-webkit-transform: translateY(1em);}
    90% {-webkit-transform: translateY(50em);}
    100% {opacity: 0;}
}

.first {
    margin-top: 1em;
}

#create, #cancel {
    background: transparent;
    border: none;
    width: 50%;
    margin: 1.5em 0;
    grid-row: 7;
}

#create {
color: green;
transition: color .3s linear;
padding-left: 2em;

}
#create:hover {
    color: #00c900;
}
#cancel {
color: darkred;
transition: color .3s linear;
}
#cancel:hover {
color: red;
}
